<div id='instructions' class="z-depth-1">
<% if current_user.category == 'client' %>
    <p>We are reviewing your project's feasability.</p>
    <p>Please ensure to validate all topics (on the right) to go to next step.</p>
    <p>Do not hesitate to open topics if needed or upload files if necessary.</p>
<% elsif current_user.category == 'methods' %>
  <p>You know need to assess the project feasability.</p>
  <p>Open topics to communicate or ask infos to the client or within your team.</p>
  <p>You can upload new version of files and track changes</p>
  <p>Please ensure all topics are closed before going to next step</p>
<% else %>
  <p>This an overview of the project at date.</p>
  <p>Reading the topics will keep you up-to-date .</p>
<% end %>
</div>
<br><br>

<div id='design-analisys-state'>
  <div class="col s12">
    <ul>
      <li><strong>Project Title: <%= @project.title %></strong></li>
      <li>Client name: <%= @project.client %></li>
      <li>Main Contact: <%= @project.project_users.first.user.name %></li>
      <li>Thalès ref: <%= @project.thales_id %></li>
      <li>Client ref: <%= @project.client_project_id %></li>
    </ul>
    <br>
    <ul>
      <li><%= @project.part_functionality %></li>
      <li><%= simple_format @project.notes %></li>
    </ul>
    <table class='responsive-table'>
      <thead>
        <tr>
          <th>Specs</th>
          <th>Option</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @project.specs.each do | spec | %>
          <tr>
            <td><%= spec.type %></td>
            <td><%= spec.title %></td>
            <td><%= spec.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
