<div id='instructions' class="z-depth-1">
  <span class='close'><i class="material-icons c-orange">close</i></span>
  <% if current_user.category == 'client' %>
      <p>To deliver the best service, we would like to make a brief on the project.</p>
      <p>Please select a date to plan a conf-call meeting with one of our expert.</p>
  <% elsif current_user.category == 'methods' %>
    <p>It is now time, to have a conf-calll with the client to discuss the project feasability.</p>
    <p>The client will propose dates, please confirm one.</p>
  <% else %>
    <p>A conf-call is on-the verge to being set. Do not hesitate to open a topic to give directives before the call.</p>
  <% end %>
</div>
<br>

<h4>Feasibility Meeting</h4>
<div id="feasability-step">
  <% if current_user.category == 'client' %>
    <% if @meeting.id && @meeting.start_time.to_date == Date.today %>
      <p>You have a meeting planned today at <%= @meeting.start_time.to_s(:time) %></p>
      <a href="">JOIN MEETING</a>
    <% elsif @meeting.id %>
      <%= render 'project_states/edit_meeting_form', meeting: @meeting %>
    <% else %>
      <%= render 'project_states/new_meeting_form', meeting: @meeting %>
    <% end %>
  <% elsif current_user.category == 'methods' %>
    <% if @meeting.id && @meeting.start_time.to_date == Date.today %>
      <p>You have a meeting planned today at: <%= @meeting.start_time.to_s(:time)%></p>
      <a href="">JOIN MEETING</a>
    <% elsif @meeting.id %>
      <%= render 'project_states/edit_meeting_form', meeting: @meeting %>
    <% else %>
      <p>We are waiting for the client proposition</p><br>
    <% end %>
  <% end %>
</div>
