<div id='instructions' class="z-depth-1">
  <span class='close-box'><i class="material-icons c-orange">close</i></span>
  <% if current_user.category == 'client' %>
      <p>We are reviewing your project, and we will be back to you soon.
        You can add information to you project by drag & dropping files on the folder structure or edit your project.</p>
  <% elsif current_user.category == 'methods' %>
    <p>Please review the project and click on Next to start design analysis phasis</p>
  <% else %>
    <p>This an overview of the project at date.</p>
  <% end %>
</div>
<br>

<div id='pending-state'>
  <% if current_user.category == 'client' || current_user.category == 'methods' %>
      <div class="col s12">
        <%= render 'projects/form', specs: @project.specs %>
      </div>
  <% else %>
    <div class="col s12">
      <ul>
        <li><strong>Project Title: <%= @project.title %></strong></li>
        <li>Client name: <%= @project.client %></li>
        <li>Main Contact: <%= @project.project_users.first.user.name %></li>
        <li>Thalès ref: <%= @project.thales_id %></li>
        <li>Client ref: <%= @project.client_project_id %></li>
      </ul>
      <br>
      <ul>
        <li><%= @project.part_functionality %></li>
        <li><%= simple_format @project.notes %></li>
      </ul>
      <table class='responsive-table'>
        <thead>
          <tr>
            <th>Specs</th>
            <th>Option</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% @project.specs.each do | spec | %>
            <tr>
              <td><%= spec.type %></td>
              <td><%= spec.title %></td>
              <td><%= spec.description %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
