<div id='instructions' class="z-depth-1">
  <span class='close'><i class="material-icons c-orange">close</i></span>
  <% if current_user.category == 'production' %>
    <p>Production</p>
  <% elsif current_user.category == 'methods' %>
    <p>Please upload your routing plan.</p>
    <p>You can ajust estimated due date</p>
  <% else %>
    <p>Wait for routing plan generation.</p>
  <% end %>
</div>
<br>


<% if current_user.category == 'methods' %>
  <h5>Submit Routing Plan</h5>
  <%= simple_form_for @project, :url => project_path(@project, upload: true), html: {method: :put} do |f| %>
    <%= f.error_notification %>
    <div class="row">
      <%= f.input "file", as: :file, label: 'Routing PDF', wrapper_html: { class: 's6' } %>
      <%= f.input "path", as: :hidden, input_html: {value: "Routing"} %>
    </div>
    <%= f.button :submit, 'Save', id: 'remotipart-override' %>
  <% end %>
<% else %>
  <p>We are waiting for Routing plan generation</p>
<% end %>
<br><br>

<h5>Production tracking</h5>
<%= render 'project_states/production_tracking' %>
