<div class="row">
  <%= simple_form_for meeting, remote: true do |f| %>
    <%= f.error_notification %>
    <%#= date_field_tag 'project[date]', @project.due_date, class: 'datepicker' %>
    <%= f.input :date, as: :string, input_html: { class: 'datepicker', value: @ref_date }, wrapper_html: { class: 's4' } %>
    <%= f.input :time, as: :string, input_html: { class: 'clockpicker', value: @ref_time }, wrapper_html: { class: 's4' } %>
    <%= f.input :duration, as: :integer, input_html: { placeholder: '30 min' }, wrapper_html: { class: 's4' }, label:'Duration (min)' %>
    <%= f.association :project, collection: current_user.projects, wrapper_html: { class: 's12' } %>
    <%= f.input :object, wrapper_html: { class: 's12' } %>
    <%= f.association :attendees, collection: User.where.not(id: current_user.id), include_blank: true, input_html: { multiple: true}, wrapper_html: { class: 's12' } %>
    <%#= f.fields_for :attendees, meeting.attendees.build do |i| %>
      <%#= i.association :user, collection: User.where.not(id: current_user.id), include_blank: true, input_html: { multiple: true, name: 'meeting[attendees_attributes][user][]'}, wrapper_html: { class: 's12' } %>
    <%# end %>
    <%= f.button :submit, class:'btn' %>
  <% end %>
</div>
