<nav class='vertical-nav-wrapper'>
  <div class="block">
    <% if request.referer %>
      <%= link_to :back,  'data-position' => "right", 'data-delay' => "200", 'data-tooltip' => "Back", class: 'tooltipped' do %>
        <i class="material-icons">arrow_back</i>
      <% end %>
    <% end %>
    <%= link_to projects_path(list: true),  'data-position' => "right", 'data-delay' => "200", 'data-tooltip' => "All Projects", class: 'tooltipped' do %>
      <i class="material-icons">work</i>
    <% end %>
    <%= link_to projects_path,  'data-position' => "right", 'data-delay' => "200", 'data-tooltip' => "Project Catalog", class: 'tooltipped' do %>
      <i class="material-icons">photo_library</i>
    <% end %>

    <%= link_to new_project_path,  'data-position' => "right", 'data-delay' => "200", 'data-tooltip' => "New Project", class: 'tooltipped' do %>
      <i class="material-icons">create_new_folder</i>
    <% end %>
  </div>
  <div class="block">
    <%= link_to meetings_path,  'data-position' => "right", 'data-delay' => "200", 'data-tooltip' => "Meetings", class: 'tooltipped' do %>
      <i class="material-icons">date_range</i>
    <% end %>
  </div>

  <% if user_signed_in? && current_user.category != 'client' %>
    <div class="block">
      <%= link_to '#',  'data-position' => "right", 'data-delay' => "200", 'data-tooltip' => "Data Consumption (coming soon)", class: 'tooltipped' do %>
        <i class="material-icons">data_usage</i>
      <% end %>
      <%= link_to '#',  'data-position' => "right", 'data-delay' => "200", 'data-tooltip' => "Smart Analytics (coming soon)", class: 'tooltipped' do %>
        <i class="material-icons">trending_up</i>
      <% end %>
    </div>
  <% end %>
</nav>
