<%= simple_form_for [@project, order], html: {class: 'table_form'}, remote: true do |f| %>
  <%= f.error_notification %>
  <%= f.input :due_date, as: :string, input_html: { class: 'datepicker'}, wrapper_html: { class: '' } %>
  <table class='responsive-table highlight'>
    <thead>
      <tr>
        <th style='width: 60%;'>Description</th>
        <th style='width: 15%;'>Unit Price (€)</th>
        <th style='width: 20%;'>Duration (in days)</th>
        <th style='width: 5%;'></th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :order_lines do |i| %>
        <%= render 'order_line_fields', f: i %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan='2'></td>
        <td class="right-align">
           <%= link_to_add_association 'Add line', f, :order_lines, data: { :'association-insertion-method' => 'append', :'association-insertion-node' => '.table_form tbody'}, class: 'btn btn-mini' %>
        </td>
        <td class="right-align">
          <%= f.button :button, 'Save', class:'btn-mini', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."} %>
        </td>
      </tr>
    </tfoot>
  </table>
<% end %>
