<ul>
  <li>Quotation date: <%= formatted_date(@order.updated_at) %></li>
  <li>Estimated deadline: <%= formatted_date(@order.due_date.to_date) %></li>
  <li>
    This quotation remains valid for 30 days.
    <%= (@order.updated_at.to_date + 30.days - Date.today).to_i %> days left.
  </li>
</ul>

<table class='responsive-table small-padding'>
  <thead>
    <tr>
      <th style='width: 50%;'>Description</th>
      <th style='width: 20%;'>Unit Price (€)</th>
      <th style='width: 10%;'>Units</th>
      <th style='width: 20%;'>Total</th>
    </tr>
  </thead>
  <tbody>
    <% order.order_lines.order(created_at: :asc).uniq.each do | order_line | %>
      <tr>
        <td><%= order_line.description %></td>
        <td>€<%= number_with_delimiter(order_line.unit_price, delimiter: " ", separator: ",") %></td>
        <td><%= number_with_delimiter(order_line.duration, delimiter: " ", separator: ",") %></td>
        <td>€<%= number_with_delimiter(order_line.unit_price * order_line.duration, delimiter: " ", separator: ",") %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan='1'></td>
      <td colspan='1'></td>
      <td><strong>Price / unit</strong></td>
      <td><strong>€<%= order.unit_price %></strong></td>
    </tr>
    <tr>
      <td colspan='1'></td>
      <td colspan='1'></td>
      <td><strong>Quantities</strong></td>
      <td><strong><%= order.quantity %></strong></td>
    </tr>
    <tr>
      <td colspan='1'></td>
      <td colspan='1'></td>
      <td><strong>Total exc. VAT</strong></td>
      <td><strong>€<%=  number_with_delimiter(order.total, delimiter: " ", separator: ",") %></strong></td>
    </tr>
  </tfoot>
</table>
