<table class="highlight">
  <thead>
    <tr>
      <th data-field="id">Title</th>
      <th data-field="start_date">Creation</th>
      <th data-field="due_date">Due Date</th>
      <th data-field="status">Status</th>
      <th data-field="collabs">Collaborators</th>
      <th data-field="notifications">Notifications</th>

    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <%= link_to project_path(project), class:'icon-text-link' do %>
            <i class="material-icons small">folder_open</i><span><%= project.title %></span>
          <% end %>
        </td>
        <td><%= formatted_date(project.created_at) %></td>
        <td><%= formatted_date(project.due_date) %></td>
        <td><%= project.state_machine.current_state.gsub('_', ' ').capitalize %></td>
        <td>
          <ul class='tabs row'>
            <% project.users.each do |user| %>
                <li class='col'>
                  <%= render 'shared/user_badge', user: user %>
                </li>
            <% end %>
          </ul>
        </td>
        <td>
          <% if project_user_activities(project) > 0 %>
            <div class="badge-container">
              <i class="material-icons small">notifications</i>
              <div class="badge red"><%= project_user_activities(project) %></div>
            </div>
          <% end %>
        </td> <!-- TO DO : notifs -->

      </tr>
    <% end %>
  </tbody>
</table>
