<table class="highlight">
  <thead>
    <tr>
      <th data-field="id">Title</th>
      <th data-field="start_date">Creation</th>
      <th data-field="due_date">Due Date</th>
      <th data-field="status">Status</th>
      <th data-field="notifications">Notifications</th>
      <th data-field="collabs">Collabs</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <%= link_to project_path(project), class:'icon-text-link' do %>
            <i class="material-icons small">folder_open</i><span><%= project.title %></span>
          <% end %>
        </td>
        <td><%= formatted_date(project.created_at) %></td>
        <td><%= formatted_date(project.due_date) %></td>
        <td><%= project.state_machine.current_state %></td>
        <td>4</td> <!-- TO DO : notifs -->
        <td>
          <ul class='tabs row'>
            <% project.users.each do |user| %>
                <li class='col'>
                  <span class='center-align btn-floating text bg-<%= user.category %>'>
                    <%= user.initials %>
                  </span>
                </li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
