<!-- Projects nav -->
<div id='projects-by-status'>
  <div class="row">
    <div class="col s8">
      <ul class="tabs">
        <li class="tab">
          <%= link_to 'All Projects', projects_path(list: params[:list]), target:'', class: 'active', remote: true %>
        </li>
        <li class='tab'>
          <%= link_to 'feasibility', projects_path(filters: 'feasibility', list: params[:list]), target:'', remote: true %>
        </li>
        <li class='tab'>
          <%= link_to 'Bid', projects_path(filters: 'bid', list: params[:list]), target:'', remote: true %>
        </li>
        <li class='tab'>
          <%= link_to 'Production', projects_path(filters: 'production', list: params[:list]), target:'', remote: true %>
        </li>
        <li class='tab'>
          <%= link_to 'Archives', projects_path(filters: 'archives', list: params[:list]), target:'', remote: true %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class='main scroll-y'>
  <div class="row">
    <% if @projects.empty? %>
      <p><em>No project yet! <%= link_to 'Create one', new_project_path %> </em></p>
    <% elsif params[:list] %>
      <%= render 'project_list' %>
    <% else %>
      <%= render 'project_store' %>
    <% end %>
  </div>
</div>
