<!DOCTYPE html>
<html>
  <head>
    <title>Thalès - T3DM</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body>
    <% if params[:controller] == 'projects' && params[:action] == 'index' %>
      <%= render 'shared/navbar', size: 'large' %>
    <% else %>
      <%= render 'shared/navbar', size: 'small' %>
    <% end %>
    <div class="panel-container">
      <section class="panel vertical">
        <%= render 'shared/vertical_navbar' %>
      </section>
      <section class="panel core">
        <%= render 'shared/flashes' %>
        <div class="row">
          <%= yield %>
        </div>
      </section>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= yield(:after_js) %>
    <%= cloudinary_js_config %>
  </body>
</html>
